.contents {
    text-align: center;
    font-style: italic;
    margin-top: 25vh;
}

#set-search {
    text-align: center;
    width: 70vw;
    padding-left: 0;
    padding-right: 0;
    border: none;
    height: 5vh;
}

#searched-set {
    height: 95vh;
    position: absolute;
    top: 5vh;
}

#set-suffix {
    width: 20vw;
}

#set-search-go {
    width: 10vw;
}

#set-add-cancel {
    position: fixed;
    left: 5%;
    bottom: 5%;
}

#set-add-done {
    position: absolute;
    right: 5%;
    bottom: 5%;
}