.contents {
    text-align: center;
    font-style: italic;
    margin-top: 25vh;
}

#searched-set {
    height: 95vh;
    position: absolute;
    top: 5vh;
}

#set-add-cancel {
    position: fixed;
    left: 5%;
    bottom: 5%;
}

#set-add-done {
    position: absolute;
    right: 5%;
    bottom: 5%;
}