.part-block {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
}

.part-img {
    width: 100%;
}

.part-label {
    text-align: center;
    height: 2em;
    line-height: 2em;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    background: white;
    overflow: hidden;
}

.part-color {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
    border: 1px solid black;
}