.part-block {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
    background: white;
}
.main-screen > .part-block:hover .part-label {
    background: #ececec;
    overflow: scroll;
    text-overflow: clip;
}
.main-screen > .part-block:hover ::-webkit-scrollbar {
    display: none;
}
.main-screen > .part-block > .part-img {
    cursor: pointer;
}

.part-img {
    width: 75%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.part-label {
    text-align: center;
    height: 2em;
    line-height: 2em;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    background: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.part-color {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
    border: 1px solid black;
}

.part-feature-header {
    position: absolute;
    z-index: 1;
    top: 20px;
    width: 40vw;
    margin: 5vw;
}

.part-feature-elt-num {
    font-variant: small-caps;
    color: lightgray;
}

.part-feature-img {
    position: absolute;
    bottom: 20px;
    width: 40vw;
    margin: 5vw;
}

.part-feature-color {
    vertical-align: center;
}

.part-feature-color-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid black;
}

#part-feature-save {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#part-feature-delete {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#part-feature-back {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: #66bee0;
    background: none;
    border: none;
    font-size: 2em;
}
#part-feature-back:focus {
    outline-width: 0;
}
#part-feature-back:hover {
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

#part-feature-input {
    border: none;
    font-size: 2em;
    text-align: left;
    width: 4em;
    cursor: default;
    color: transparent;
    text-shadow: 0 0 0 black;
}
#part-feature-input:focus {
    outline-width: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}