.contents {
    text-align: center;
    font-style: italic;
    margin-top: 25vh;
}

#searched-part {
    height: 90vh;
    position: absolute;
    top: 10vh;
}

#part-add-cancel {
    position: absolute;
    left: 5%;
    bottom: 5%;
}

#part-add-done {
    position: absolute;
    right: 5%;
    bottom: 5%;
}