.entity-block {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid lightgray;
    position: relative;
    background: white;
    transition: all 0.1s;
}
.entity-block.clickable:hover {
    transform: scale(1.1);
    z-index: 1;
}
.entity-block:hover .entity-label {
    background: #ececec;
    overflow: scroll;
    text-overflow: clip;
}
.entity-block:hover ::-webkit-scrollbar {
    display: none;
}

.entity-label {
    text-align: center;
    height: 2em;
    line-height: 2em;
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
    border-top: 1px solid lightgray;
    background: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.entity-icon {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
    border: 1px solid black;
}
